*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ordem-template{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 90%;
}
.question{
    font-size: 22px;
}
.group_options{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
          "options"
          "agre-disagree";
    padding: 20px;
}
.text-verde {
    grid-area: agre-disagree;
    justify-self: start;
  }
.text-roxo {
    grid-area: agre-disagree;
    justify-self: end;
  }
.texto{
    font-size: 18px;
}
.radio-big{
    width: 40px;
    height: 40px;
}
.radio-medium{
    width: 35px;
    height: 35px;
}
.radio-small{
    width: 30px;
    height: 30px;
}
.radio-neutral{
    width: 25px;
    height: 25px;
}

@media(min-width: 768px){
    .ordem-template{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 60%;
    }
    .question{
        font-size: 26px;
    }
    .group_options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        grid-template-areas:
          "agree options disagree";
    }
    .texto.text-verde {
        grid-area: agree;
        justify-self: end;
      }
    .texto.text-roxo {
        grid-area: disagree;
        justify-self: start;
      }
    .options {
        grid-area: options;
    }
    .texto{
        font-size: 22px;
    }
    .radio-big{
        width: 42px;
        height: 42px;
    }
    .radio-medium{
        width: 37px;
        height: 37px;
    }
    .radio-small{
        width: 32px;
        height: 32px;
    }
    .radio-neutral{
        width: 27px;
        height: 27px;
    }
}
@media(min-width: 1024px){
    .question{
        font-size: 29px;
    }
    .texto{
        font-size: 24px;
    }
    .radio-big{
        width: 50px;
        height: 50px;
    }
    .radio-medium{
        width: 45px;
        height: 45px;
    }
    .radio-small{
        width: 40px;
        height: 40px;
    }
    .radio-neutral{
        width: 35px;
        height: 35px;
    }
}