body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-color: #F8F3EA;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1; 

    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: rgb(25, 73, 104);
}
form{
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: red;
    
}
fieldset{
    align-items: center;
    background-color: rgb(219, 223, 223);
    border: none;
    padding: 20px;
    border-radius: 10px;
}
.align{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    width: 100%;
}
.group_options{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.options {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 20px;
    padding: 10px;
    align-items: center;
}
.agree-disagree{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button{
    border-radius: 50%;
    border: 0.8px solid #858484;
    transition: all 0.3s ease;
}
.radio-big{
    width: 40px;
    height: 40px;
}
.radio-medium{
    width: 35px;
    height: 35px;
}
.radio-small{
    width: 30px;
    height: 30px;
}
.radio-neutral{
    width: 25px;
    height: 25px;
}
button:hover{
    transform: scale(1.10);
}
button:active{
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}