body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    background-color: #F8F3EA;
}
header {
    position: relative;
    width: 100%;
    background-color: rgb(25, 73, 104);
    padding: 20px 0;
}
section {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
.ordem-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px; 
}
.ordem-header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
          "titulo"
          "ordem-template";
    gap: 20px;
}
.ordem-template{
    grid-area: ordem-template;
}
.box-header{
    background-color: rgb(186, 196, 187);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    cursor:default;
    transition: all 0.5 ease;
}
.box-header:hover{
    background-color: rgb(149, 169, 219);
    transform: scale(1.10);
    margin: 4px

}
h1{
    font-family: Windlass;
    background: linear-gradient(to top, #515050, #a7a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    filter:brightness(170%);
    cursor:default;
    transition: all 0.3s ease;
}
h1:hover{
    transform: scale(1.05);
}
form{
    width: 80%;
    display: grid;
    gap: 10px;
    justify-content: center;
}
fieldset{
    border-left: none; 
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #878383;
    padding: 20px;
}
.question{
    width: 90%;
    font-family:'Times New Roman', Times, serif;
    color:#747474;
}
.options {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-gap: 20px;
    align-items: center;
}
.align{
    display: grid;
    place-items: center;   
}
.align-text{
    text-align: center;
}
.texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button{
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: transparent;
}
.button:hover{
    transform: scale(1.10);
}
.button:active{
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.botao{
    background-color: rgb(64, 25, 235);
    border: none;
    color:rgb(236, 234, 231);

    padding: 25px 55px;
    font-size: 20px;
    border-radius: 13px;
    
    font-weight: lighter;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    cursor:pointer;
    transition: all 0.2s ease;

}
.botao:hover{
    background-color:rgb(148, 40, 214);
    transform: scale(1.05);
}
.botao:active{
    background-color: rgb(39, 8, 178);
    transform: scale(0.95);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);

}
.border-cinza{border: 2px solid #a19ea1;}
.border-roxo{border: 2px solid #9e23aa;}
.border-verde{border: 2px solid #2b6522;}
.text-verde{color: #214f1b;}
.text-roxo{color: #791c81;}
.border-verde:hover{background-color: #2b6522;}
.border-roxo:hover{background-color: #9e23aa;}
.border-cinza:hover{background-color: #a19ea1;}