*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ordem-template{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 90%;
}
.image{
    width: 250px;
    height: 300px;
    border-radius: 10px;
}
.group-informacoes{
    width: 90%;
}
@media(min-width: 768px){
    .ordem-template{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 60%;
    }
    .image{
        width: 350px;
        height: 400px;
        border-radius: 10px;
    }
}
@media(min-width: 1024px){
    .group-informacoes{
        width: 60%;
    }
}