body {
    display: grid;
    min-height: 100vh;
    width: 100%;
    background-color: #F8F3EA;
}

header {
    position: relative;
    width: 100%;
    background-color: rgb(25, 73, 104);
    padding: 20px 0;
}

section {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}
.ordem-header{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
          "titulo"
          "ordem-template";
    gap: 20px;
}
.ordem-template{
    grid-area: ordem-template;
}
.group-informacoes{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px; 
}
.group-chales{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px; 
    width: 90%;
}
.align{
    display: grid;
    place-items: center;   
}
.align-text{
    text-align: center;
}
.box-header{
    background-color: rgb(186, 196, 187);
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
}
.box-header:hover{
    background-color: rgb(149, 169, 219);
    transform: scale(1.10);
    margin: 4px

}
h1{
    font-family: Windlass;
    background: linear-gradient(to top, #515050, #a7a5a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    filter:brightness(170%);
    cursor:default;
    transition: all 0.3s ease;
}
h1:hover{
    transform: scale(1.05);
}
fieldset{
    border:none;
    border-radius: 10px;
    width: 90%
}
.group-itens{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border-bottom: 2px solid #878383;
    padding: 20px;
}
.texto{
    text-align: justify;
    width: 90%;
}
